# ─── MySQL ───────────────────────────────
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# ─── Bases de données ─────────────────────
DB_TEMP=dataFilter
DB_PROD=ismp

# ─── Frontend ────────────────────────────
REACT_APP_API_URL=https://api.votre-domaine.com